
<div id="tableContainer">

</div>

<hr />
<h4>Code/Information</h4>

<p>
    Base table without any decorations
</p>
<pre>

class Base extends AbstractTable
{

    protected $config = array(
        'name' => 'Base table',
        'showPagination' => true,
        'showSummary' => true,
        'showQuickSearch' => false,
        'showItemPerPage' => true,
        'itemCountPerPage' => 20,
        'showColumnFilters' => false,
        'showExportToCSV ' => false,
        'valuesOfItemPerPage' => array(5, 10, 20, 50 , 100 , 200),
        'rowAction' => ''
    );

    //Definition of headers
    protected $headers = array(
        'idcustomer' => array('title' => 'Id', 'width' => '50') ,
        'name' => array('title' => 'Name' ),
        'surname' => array('title' => 'Surname' ),
        'street' => array('title' => 'Street'),
        'city' => array('title' => 'City' ),
        'active' => array('title' => 'Active' , 'width' => 100 ),
    );

    public function init()
    {
    }

    protected function initFilters(\Zend\Db\Sql\Select $query)
    {

    }
}
</pre>

<script>
    $("#tableContainer").zfTable('/table/ajax-base');
</script>
