
<div id="tableContainer">

</div>

<hr />
<h4>Code/Information</h4>
<pre>
class NewPluginCondition extends AbstractTable
{
    protected $config = array(
        'name' => 'New condition plugin',
        'showPagination' => true,
        'showSummary' => true,
        'showQuickSearch' => false,
        'showItemPerPage' => true,
    );

    //Definition of headers
    protected $headers = array(
        'idcustomer' => array('title' => 'Id', 'width' => '50') ,
        'name' => array('title' => 'Name' ),
        'surname' => array('title' => 'Surname' ),
        'street' => array('title' => 'Street'),
        'city' => array('title' => 'City' ),
        'age' => array('title' => 'Age' ),
        'active' => array('title' => 'Active' , 'width' => 100 ),
    );

    public function init()
    {
        <strong>$this->getHeader('age')->getCell()->addDecorator('varattr', array('style' => 'color: blue'))
                ->addCondition('between', array('column' => 'age' , 'min' => 10, 'max' => 30));

        $this->getHeader('age')->getCell()->addDecorator('varattr', array('style' => 'rgb(255, 0, 245)'))
                ->addCondition('lesserthan', array('column' => 'age' , 'value' => 10));

        $this->getHeader('age')->getCell()->addDecorator('varattr', array('style' => 'color: red'))
                ->addCondition('greaterthan', array('column' => 'age' , 'value' => 30));
        </strong>
    }
    protected function initFilters(\Zend\Db\Sql\Select $query)
    {
    }
}
</pre>

<script>
    $("#tableContainer").zfTable('/table/ajax-new-plugin-condition');
</script>
